.body{
    text-align: center;
    padding-top: 50px;
    background-image: url('../../../images/premium_photo-1701646600168-5d599b350398.jpg');
}

.button{
    color: white; 
    background-color: rgb(66, 7, 217);
    font-size: medium;
}

.message{
    font-size: larger;
    font-weight: bold;
}
