td{
    color:black;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding-left: 12rem;
}

.body{
    padding: 10rem;
    text-align: center;
    background-image: url('../../images/premium_photo-1701646600168-5d599b350398.jpg');
    font-size: x-large;
}


.button{
    padding: 10px 20px;
    color: white; 
    background-color: rgb(66, 7, 217);
    font-size: medium; 
}

.options{
    color:rgb(14, 1, 1);
    font-size: medium;
}

h2{
    color:rgb(70, 8, 228);
}

